body {
  background-color: rgb(209, 209, 202);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h3 {
  white-space: nowrap;
}

button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }