/* This file is for CSS applied to identified spoiler elements */
.hidden-spoiler {
  background: yellow;
  color: black !important;
  border: 2px dashed black;
  padding: 2px;
}

.blacked-out {
  margin: 0px;
  -webkit-filter: brightness(0);
  filter: brightness(0);
}